

body {
    min-width: 400px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #E5E7E9;
}

#defaultMainContent {
    display: block;
    position: relative;
    min-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#mainHeader, #mainBody, #mainFooter {
    display: block;
    position: relative;
    min-width: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#mainFooter {
    background-color: #222222;
}

#mainHeader {
    min-height: 60px;
    height: auto;
}

/** Using the calc and view port units to extend the footer height to the bottom of the page **/
#mainFooter {
    height: calc(100vh - 50px);
    min-height: 250px;
}

#websiteTitle {
    font-size: 10em;
    vertical-align: middle;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    color: #70db70;
    font-size: 26px;
}

#templateForm .form-control,
#assetForm .form-control {
    margin: 10px 0px;
    max-width: 100%;
}


.title > h3 {
    color: #0881C2;
    font-weight: 600;
}

#templateForm .page-header > h4,
#assetForm .page-header > h4 {
    color: #88BADD;
    font-weight: 600;
}